src/*.o
src/*.lo
src/*.la
src/.deps
src/.libs
src/timbl
demos/*.o
demos/*.lo
demos/Makefile
demos/Makefile.in
demos/.deps/
demos/.libs/
demos/tse
demos/api_test1
demos/api_test2
demos/api_test3
demos/api_test4
demos/api_test5
demos/api_test6
demos/classify
Makefile
Makefile.in
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
INSTALL
aclocal.m4
autom4te.cache/
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
test-driver
timbl.pc
m4/libtool.m
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/pkg.m4
