Source: timbl
Section: science
Priority: optional
Maintainer: Joost van Baal <joostvb-timbl@ad1810.com>
Uploaders: Ko van der Sloot <Ko.vanderSloot@uvt.nl>
Build-Depends: debhelper (>= 4.1.0), cdbs
Standards-Version: 3.8.0
Homepage: http://ilk.uvt.nl/timbl/
Vcs-Svn: https://svn.ilk.uvt.nl/svn/trunk/sources/Timbl6

Package: timbl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tilburg Memory Based Learner
 Memory-Based Learning (MBL) is a machine-learning method applicable to a wide
 range of tasks in Natural Language Processing (NLP).
 .
 The Tilburg Memory Based Learner, TiMBL, is a tool for NLP research, and for
 many other domains where classification tasks are learned from examples.  It
 is an efficient implementation of k-nearest neighbor classifier.
 .
 TiMBL's features are: * Fast, decision-tree-based implementation of k-nearest
 neighbor classification; * Implementations of IB1 and IB2, IGTree, TRIBL, and
 TRIBL2 algorithms; * Similarity metrics: Overlap, MVDM, Jeffrey Divergence,
 Dot product, Cosine; * Feature weighting metrics: information gain, gain ratio,
 chi squared, shared variance; * Distance weighting metrics: inverse, inverse
 linear, exponential decay; * Extensive verbosity options to inspect nearest
 neighbor sets; * Server functionality and extensive API; * Fast leave-one-out
 testing and internal cross-validation; and Handles user-defined example
 weighting.
 .
 TiMBL is a product of the ILK (Induction of Linguistic Knowledge) research
 group of the Tilburg University and the CNTS research group of the University
 of Antwerp.
 .
 If you do scientific research in NLP, timbl will likely be of use to you.
